@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;
} 

*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-primaria); 
    color: var(--cor-secundaria);

}
.cabecalho{
    padding: 2% 0 0 15%;
}
.cabecalho__menu{
    display: flex;
    justify-content:flex-start;
    gap: 80px;
}
.cabecalho__menu__link{
    color: var(--cor-terciaria);
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    font-weight: 600;
}
.cabecalho__menu__link:hover{
    border-bottom: 1px solid var(--cor-secundaria);
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family:var(--fonte-primaria);
}
.titulo-destaque{
    color: #64CCC5;
}
.apresentacao__conteudo__paragrafo{
    font-size: 1.5rem;
    font-family:  var(--fonte-secundaria) ;
}
.apresentacao__conteudo__texto{
    font-size: 1rem;
    font-family:  var(--fonte-secundaria);
}
.apresentacao__conteudo__imagem{
    border-radius: 60px 30px 60px 30px;
    width: 50%;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-size: 1.5rem;
    font-family:var(--fonte-primaria);
    font-weight: 400;
}
.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width:50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem ;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family:  var(--fonte-secundaria);
    
}
.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);

}
.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    padding: 24px;
    font-size: 1.5rem;
    
}
@media(max-width:1200px) {
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
        gap: 35px;
    }
    .apresentacao{
        padding:5%;
        flex-direction: column-reverse;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .apresentacao__conteudo__imagem{
        width: 80%;
    }
}